/* Apexchart & D3 */
.apexcharts-tooltip-title {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin: var(--spaceXXSM) var(--spaceXXSM) 0 var(--spaceXXSM) !important;
} 
.apexcharts-tooltip-series-group {
    background: transparent !important;
    padding: var(--spaceMini) var(--spaceSM) !important;
}
.apexcharts-tooltip-title, .apexcharts-tooltip, .apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
    background: var(--semiDarkColor) !important;  
    border-radius: var(--roundedSM) !important;
}
.apexcharts-tooltip-marker {
    border-radius: 50% !important;
}
.apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
    box-shadow: none !important;
}
.apexcharts-tooltip,.apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
    border: calc(var(--spaceMini) / 2.5) solid var(--whiteColor);
}
.apexcharts-canvas {
    margin-inline: auto;
}
.progress-bar {
    background: var(--successBG);
}