label {
    margin: var(--spaceSM);
}
.input-msg {
    font-size: var(--textLG);
}
input, button, .btn, textarea, select {
    padding: var(--spaceMD);
    background: transparent;
    border-radius: var(--roundedLG) !important;
    border-width: 1.75px !important;
}
input, textarea, select {
    background: transparent !important;
    margin-bottom: var(--spaceXSM);
}
.error-input {
    color: var(--dangerBG) !important;
    background: none;
    text-decoration: none;
    margin-top: var(--spaceSM);
}
.form-check-input {
    border: 1.5px solid var(--primaryColor) !important;
    cursor: pointer;
}
.form-check-input:checked {
    background: var(--primaryColor) !important;
}
.form-check-input:checked::after {
    content: "\2713"; 
    display: block;
    width: var(--spaceSM);
    height: var(--spaceSM);
    font-size: var(--textJumbo); 
    line-height: 1; 
    margin-top: -10px;
    margin-left: -10px;
}
.container-form, .btn-page-holder, .control-panel {
    width: 100%;
    padding: var(--spaceXLG);
    margin-bottom: var(--spaceJumbo);
    background-color: var(--semiDarkColor);
    border: 1.75px solid var(--whiteColor);
    border-radius: var(--roundedLG);
}
@media (min-width: 576px) and (max-width: 767px) {
    .container-form, .btn-page-holder, .control-panel {
        padding: var(--spaceXMD);
        border: 1.5px solid var(--whiteColor);
        margin-bottom: var(--spaceXLG);
    }
}
@media (max-width: 575px) {
    .container-form, .btn-page-holder, .control-panel {
        padding: var(--spaceMD);
        border: 1.25px solid var(--whiteColor);
        margin-bottom: var(--spaceLG);
    }
}

input:focus {
    background: transparent !important;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* Input File */
input[type="file"].form-control {
    display: block;
    width: 100%;
    padding: var(--spaceMD);
    border: 1.5px solid var(--primaryColor);
    background: var(--semiDarkColor);
}
  
input[type="file"].form-control::file-selector-button {
    background: var(--primaryColor) !important;
    border: none;
    padding: var(--spaceSM) var(--spaceMD);
    margin: 0 var(--spaceSM) 0 0;
}
  
input[type="file"].form-control::file-selector-button, input[type="file"].form-control {
    border-radius: var(--roundedMD);
}

/* Richtexteditor */
.richtexteditor {
    padding: var(--spaceMD);
    border: 1.75px solid var(--whiteColor) !important;
    background: var(--semiDarkColor) !important;
}
.rte-toolbar-desktop, rte-bottom {
    background: transparent;
}
rte-toolbar-button:hover {
    background: var(--primaryColor) !important;
    border-radius: var(--roundedMini);
}