:root {   
    /* Typography */
    --textXJumbo : 24px;
    --textJumbo : 20px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedXLG : 24px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 12px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;

    /* Color Pallete */
    --successBG : #00C363;
    --dangerBG : #DD0022;
    --warningBG : #FFC352;
    --infoBG : #009FF9;
    --infoLightBG : #E7F4FE;
    --hoverBG : #F2F2F2;

    --primaryColor : #3b82f6;
    --darkColor : #121725;
    --whiteColor : #FFFFFF;
    --greyColor : #838181;
    --shadowColor : #E0E0E0;
}

.bg-success {
    background: var(--successBG) !important;
}
.bg-dark {
    background: var(--darkColor) !important;
}

button, .btn, tr, .btn-page, .img-responsive, .img-holder, .btn-feature, i,
#col-analyze, #total-holder {
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important;
}

.bordered {
    border: 1.5px solid var(--whiteColor);
}

hr {
    color: var(--whiteColor) !important;
    margin-top: var(--spaceXLG) !important;
}

/* Modal */
.modal-content, .swal2-popup {
    border-radius: var(--roundedJumbo) !important;
    background: var(--darkColor);
    border: 1.75px solid var(--primaryColor);
    color: var(--whiteColor);
    box-shadow: rgba(59, 130, 246, 0.35) 0px 6px 17px;
}
.modal-content h2 {
    font-weight: 600;
}
.img-responsive {
    cursor: pointer;
    border-radius: var(--roundedLG);
}
.img-responsive:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container, .container-fluid, .control-panel {
    border-radius: var(--roundedMD);
    margin-top: var(--spaceMD);
}
.container.bordered, .control-panel {
    border: 1.5px solid var(--whiteColor);
    padding: var(--spaceXMD);
}

.box-reminder,.box-danger  {
    padding: var(--spaceMD);
    border-radius: var(--roundedMD);
}
.box-danger {
    background-color:rgba(221, 0, 33, 0.2);
}
.box-reminder {
    background-color:rgba(0, 195, 99, 0.2);
}
.box-reminder p, .box-reminder h5 {
    font-size: var(--textMD);
}
.control-panel {
    z-index:997;
    width: 100%;
    margin-bottom: var(--textXLG);
    background: var(--darkColor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.report-box {
    border: 2px solid var(--primaryColor);
    padding: var(--spaceLG) !important;
    border-radius: var(--roundedLG);
    width: 100%;
    text-align: start;
    margin-bottom: var(--spaceLG);
}

.container-light {
    border: 1.5px solid var(--whiteColor);
    border-radius: var(--roundedLG);
    padding: var(--spaceMD);
}

.title-chart {
    font-weight: bold;
    text-align: center;
    font-size: var(--spaceLG);
    margin-bottom: var(--spaceMD);
}

/* Desktop style */
.content {
    padding: var(--spaceJumbo);
    display: block;
    margin-inline: auto;
    width:1280px;
}

/* Tablet style */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* Mobile & Tablet style */
@media screen and (max-width: 1023px) {
    .content {
        width:auto;
        padding: var(--spaceMD);
    }
}