:root {   
    /* Typography */
    --textXJumbo : 24px;
    --textJumbo : 20px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedXLG : 24px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 12px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;

    /* Color Pallete */
    --successBG : #00C363;
    --dangerBG : #DD0022;
    --warningBG : #FFC352;
    --infoBG : #1ba6f7;
    --infoLightBG : #E7F4FE;
    --hoverBG : #F2F2F2;
    --semiDarkColor: #18233A;
    --primaryColor : #3b82f6;
    --darkColor : #121725;
    --whiteColor : #FFFFFF;
    --greyColor : #adadad;
    --shadowColor : #E0E0E0;
}

body {
    background: var(--darkColor);
}

a {
    text-decoration: none;
}

.bg-success {
    background: var(--successBG) !important;
}
.bg-dark {
    background: var(--darkColor) !important;
}

button, .btn, tr, .btn-page, .img-responsive, .img-holder, .btn-feature, i,
#col-analyze, #total-holder {
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important;
}

.bordered {
    border: 1.5px solid var(--whiteColor);
}

hr {
    color: var(--whiteColor) !important;
    margin-top: var(--spaceXLG) !important;
}

table tr {
    word-break: break-word;
}
#nav_scroll-holder button {
    font-size: var(--textXMD);
}

/* Modal */
.modal {
    margin-top: 5vh;
}
@media screen and (max-width: 1023px) {
    .modal {
        margin-top: 10vh;
    }
}
.modal-content, .swal2-popup, .popover {
    border-radius: var(--roundedJumbo) !important;
    background: var(--darkColor);
    border: 1.75px solid var(--primaryColor);
    color: var(--whiteColor);
    box-shadow: rgba(59, 130, 246, 0.35) 0px 6px 17px;
}
.popover{
    max-width: 360px !important;
}
.popover .popover-header {
    background: transparent;
    margin-top: var(--spaceMD);
    margin-bottom: 0 !important;
    font-weight: bold;
    padding-bottom: 0;
    font-size: var(--spaceXMD);
}
.modal-content h2 {
    font-weight: 600;
}
.img-responsive {
    cursor: pointer;
    border-radius: var(--roundedLG);
    width: 100%;
}
.img-responsive:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container, .container-fluid {
    border-radius: var(--roundedMD);
    margin-top: var(--spaceMD);
}
.container.bordered {
    border: 1.5px solid var(--whiteColor);
    padding: var(--spaceXMD);
}

.box-reminder,.box-danger  {
    padding: var(--spaceMD);
    border-radius: var(--roundedMD);
}
.box-danger {
    background-color:rgba(221, 0, 33, 0.2);
}
.box-reminder {
    background-color:rgba(0, 195, 99, 0.2);
}
.box-reminder p, .box-reminder h5 {
    font-size: var(--textMD);
}
.control-panel {
    z-index:997;
    width: 100%;
    margin-bottom: var(--textXLG);
    background: var(--darkColor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.report-box {
    border: 2px solid var(--primaryColor);
    padding: var(--spaceLG) !important;
    border-radius: var(--roundedLG);
    width: 100%;
    text-align: start;
    margin-bottom: var(--spaceLG);
}

.container-light {
    border: 1.5px solid var(--whiteColor);
    border-radius: var(--roundedLG);
    padding: var(--spaceMD);
}

.title-chart {
    font-weight: bold;
    text-align: center;
    font-size: var(--spaceLG);
    margin-bottom: var(--spaceMD);
}

.alert {
    border-radius: var(--roundedLG);
    margin: 0;
    border: calc(var(--spaceMini) * 0.7) solid var(--whiteColor);
}
.alert-primary {
    background: var(--infoBG);
}

/* Desktop style */
.content {
    padding: var(--spaceJumbo);
    display: block;
    margin-inline: auto;
    max-width:1280px;
}

/* Tablet style */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* Mobile & Tablet style */
@media screen and (max-width: 1023px) {
    .content {
        width:auto;
        padding: var(--spaceMD);
    }
}

/* Apexchart & D3 */
.apexcharts-legend-text, .d3 .node {
    font-size: var(--textXMD) !important;
    font-weight: 500;
}
.apexcharts-xaxis-label {
    font-size: var(--textMD) !important;
}
.apexcharts-yaxis-label {
    font-size: var(--textSM) !important;
}
.apexcharts-yaxis-label, .apexcharts-xaxis-label {
    fill: var(--whiteColor) !important;
}
.apexcharts-tooltip {
    font-size: var(--textXLG) !important;
}
.apexcharts-tooltip-title {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin: var(--spaceXXSM) var(--spaceXXSM) 0 var(--spaceXXSM) !important;
} 
.apexcharts-tooltip-series-group {
    background: transparent !important;
    padding: var(--spaceMini) var(--spaceSM) !important;
}
.apexcharts-tooltip, .apexcharts-tooltip-title, .apexcharts-tooltip-series-group, .apexcharts-legend-text, .d3 .node, .apexcharts-xaxistooltip .apexcharts-xaxistooltip-text {
    color: var(--whiteColor) !important;   
}
.apexcharts-datalabels-group text{
    fill: var(--whiteColor) !important; 
}
.apexcharts-tooltip-title, .apexcharts-tooltip, .apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
    background: var(--semiDarkColor) !important;  
    border-radius: var(--roundedSM) !important;
}
.apexcharts-tooltip-marker {
    border-radius: 50% !important;
}
.apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
    box-shadow: none !important;
}
.apexcharts-tooltip,.apexcharts-xaxistooltip, .apexcharts-xaxistooltip.apexcharts-theme-light, .apexcharts-xaxistooltip.apexcharts-theme-dark {
    border: calc(var(--spaceMini) / 2.5) solid var(--whiteColor);
}
.apexcharts-xaxistooltip .apexcharts-xaxistooltip-text, .apexcharts-tooltip-title {
    font-weight: 600 !important;
}
.apexcharts-legend-text {
    text-transform: capitalize !important;
    color: var(--whiteColor) !important;
}
.apexcharts-legend-text, .apexcharts-tooltip {
    font-weight: 500 !important;
}
.apexcharts-canvas {
    margin-inline: auto;
}

.progress-bar {
    background: var(--successBG);
}