a, label, h1, h2, h3, h4, h5, h6, p, table {
    color: var(--whiteColor) !important;
}
a.relative.inline-flex.items-center {
    color: var(--whiteColor) !important;
    background: transparent !important;
}
a.relative.inline-flex.items-center, span.relative.inline-flex.items-center {
    margin-right: var(--spaceXXSM);
    border-radius: var(--roundedMD);
    padding-inline: var(--spaceMD) !important;
}
span.relative.inline-flex.items-center,  a.relative.inline-flex.items-center:hover{
    background: var(--primaryColor) !important;
    border: 2px solid var(--primaryColor);
    color: var(--whiteColor);
}
label, .form-label {
    font-weight: 600 !important;
    margin-bottom: var(--spaceSM);
}
.date-text {
    font-size: var(--textXMD);
    color: var(--greyColor) !important;
    font-style: italic;
}
.main-page-title {
    font-weight: bold;
    margin-bottom: 0;
    font-size: calc(var(--textXJumbo)*1.75);
}
.text-secondary, .form-text {
    color: var(--greyColor) !important;
}
/* Table */
thead th {
    vertical-align: middle;
    text-align: center;
}
table td {
    font-size: var(--textXMD) !important;
}
table th {
    font-size: var(--textLG) !important;
    font-weight: 600 !important;
}
table tr:hover {
    background-color: rgba(131, 129, 129, 0.15);
}
li::marker {
    color: white !important;
    font-size: 1.5em !important; 
}

footer {
    color: var(--whiteColor) !important;
}

/* Mobile & Tablet style */
@media screen and (max-width: 1023px) {
    .main-page-title {
        font-size: var(--textXJumbo);
    }
}
.props-box {
    font-size: var(--textMD) !important;
}