.img-holder {
    min-height: 260px;
    border: 2px dashed var(--whiteColor);
    width: 100%;
    border-radius: var(--roundedMD);
    padding: var(--textLG);
    margin: var(--spaceMD) 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}
.img-holder:hover {
    transform: scale(1.01);
}
.img-holder a {
    vertical-align: middle;
}
.image-upload {
    bottom: var(--spaceMini);
    right: var(--spaceMD);
}
.image-upload>input {
    display: none;
}
.btn-icon-reset-image {
    bottom: var(--spaceMD); 
    left: var(--spaceMD);
    background: var(--dangerBG) !important;
}
.image-upload, .btn-icon-reset-image {
    position: absolute;
}