.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 2px solid var(--whiteColor);
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--darkColor);
    border-radius: var(--roundedLG);
}
.autocomplete-items div {
    padding: var(--spaceMD);
    cursor: pointer;
    background: transparent;
}
.autocomplete-items div:hover {
    background: var(--primaryColor);
}
.item_qty_selected {
    width: 80px;
}
.item_name_selected {
    margin-bottom: var(--spaceXXSM) !important;
}
table.table-report tr td {
    padding: var(--spaceMD) var(--spaceXSM)  !important;
}
table.table-report tbody input, table.table-report tbody textarea {
    padding: var(--spaceXSM) !important;
}
@media (max-width: 575.98px) {
    .table-report {
        table-layout: fixed; 
        min-width: 500px;
    }
}